@use '@/assets/base/styles/colors';

$name: 'app-pdp-info';
$block: '.' + $name;

$border-top-color: colors.color('background', 'base-4');

$header-padding-y: 16px;

$title-color: colors.color('typography', 'base');