@use '@/assets/base/styles/bp';

#{$block}__images {
  display: flex;
  column-gap: 20px;
  overflow-x: auto;

  @include bp.till(bp.$tablet) {
    margin-top: 10px;
  }

  @include bp.from(bp.$tablet) {
    margin-top: 20px;
  }
}