@use '@/assets/base/styles/animation';

#{$block}__name {
  border-radius: 12px;
  margin-top: 10px;
  width: 45%;
  height: 30px;
  background-color: $background-color;

  @include animation.pulse;
}