@use '@/assets/base/styles/bp';

#{$block}__row-text {
  text-align: right;
  color: $row-text-color;
  font-weight: 400;
  line-height: 1.4;

  @include bp.till(bp.$tablet) {
    font-size: 14px;
  }

  @include bp.from(bp.$tablet) {
    font-size: 16px;
  }
}