@use '@/assets/base/styles/bp';

#{$block}__text {
  font-weight: 400;
  line-height: 1.4;
  color: $text-color;

  @include bp.till(bp.$tablet) {
    font-size: 14px;
  }

  @include bp.from(bp.$tablet) {
    font-size: 16px;
  }
}