@use '@/assets/base/styles/colors';

$name: 'app-pdp-attributes';
$block: '.' + $name;

$title-color: colors.color('typography', 'base');

$size-item-background-color: colors.color('background', 'base-4');
$color-item-size: 32px;