@use '@/assets/base/styles/bp';

#{$block}__text {
  color: $text-color;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.2px;
  max-width: 560px;

  @include bp.till(bp.$tablet) {
    font-size: 15px;
    margin-top: 16px;
  }

  @include bp.from(bp.$tablet) {
    font-size: 20px;
    margin-top: 24px;
  }
}