@use '@/assets/base/styles/bp';

#{$block}__mail {
  display: block;
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $mail-color;

  @include bp.till(bp.$tablet) {
    margin-top: 12px;
  }

  @include bp.from(bp.$tablet) {
    margin-top: 16px;
  }
}