@use '@/assets/base/styles/bp';

#{$block}__attributes {
  &:not(& + &) {
    margin-top: 32px;
  }

  @include bp.till(bp.$tablet) {
    & + & {
      margin-top: 24px;
    }
  }

  @include bp.from(bp.$tablet) {
    & + & {
      margin-top: 16px;
    }
  }
}