@use '@/assets/base/styles/colors';

$name: 'app-customer-order-card';
$block: '.' + $name;

$id-color: colors.color('typography', 'base');
$total-color: $id-color;
$delivery-date-color: $id-color;
$address-color: $id-color;
$amount-color: $id-color;