@use '@/assets/base/styles/bp';

#{$block}__product-info {
  display: flex;
  flex-direction: column;

  @include bp.till(bp.$tablet) {
    row-gap: 8px;
    margin-top: 8px;
  }

  @include bp.from(bp.$tablet) {
    row-gap: 12px;
    margin-top: 20px;
  }
}