@import './styles/vars';

@import './styles/elems/inner';
@import './styles/elems/tabs';
@import './styles/elems/tab';
@import './styles/elems/form';
@import './styles/elems/login';
@import './styles/elems/pass';
@import './styles/elems/button';

#{$block} {
  z-index: 9999;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);

  &__active {
    scale: 0.5;
    transition: scale 0.3s ease-in-out;
  }

  &__initial {
    scale: 1;
  }
}