$colors-typography: (
  'base': #2B2929,
  'base-1': #464646,
  'base-2': #716969,
  'base-3': #BABABA,
  'base-4': #E1E1E1,
  'base-5': #EFEFEF,
  'base-6': #F8F8F8,
  'base-7': #FFFFFF, 
  'base-8': #FF4F4F,
  'base-9': #F1BF5D,
  'base-10': #FFF0BA
);

$colors-background: (
  'base': #2B2929,
  'base-1': #464646,
  'base-2': #716969,
  'base-3': #BABABA,
  'base-4': #E1E1E1,
  'base-5': #EFEFEF,
  'base-6': #F8F8F8,
  'base-7': #FFFFFF, 
  'base-8': #FF4F4F,
  'base-9': #F1BF5D,
  'base-10': #FFF0BA
);

$colors: (
  'typography': $colors-typography,
  'background': $colors-background,
);

@function color($color-name, $color-variant: null) {
  @if $color-variant {
    @return map-get($map: map-get($colors, $color-name), $key: $color-variant);
  }

  @return map-get($colors, $color-name);
}