@use '@/assets/base/styles/bp';

#{$block}__title {
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: $title-color;

  @include bp.till(bp.$tablet) {
    font-size: 18px;
    font-weight: 500;
  }

  @include bp.from(bp.$tablet) {
    font-size: 20px;
    font-weight: 400;
  }
}